/* header, metainfo panel*/
$main-light-color: rgba(95, 161, 221,.9); //#5FA1DD

$main-dark-color: rgba(30, 111, 183, .9); //#1E6FB7

/* buttons, panel header*/
$main-2nd-color: rgba(62, 137, 204, .75); //#3E89CC

$main-3rd-color: #30A4FF;

$main-grey: #B2B2B2;

$main-red: #ff8282;
