/* header, metainfo panel*/
$main-light-color: rgba(95, 162, 221,.9); //#5FA2DD hsl(208,64,61)

$main-dark-color: #154E7C;

/* buttons, panel header*/
$main-2nd-color: rgba(49, 128, 191, .75); //#3180BF hsl(207,59,47)

$main-3rd-color: #30A4FF;

$main-grey: #B2B2B2;

$main-red: #ff8282;
