# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Eclipse
bin
target
tmp
.classpath
.settings
.project
.wtpmodules
.settings/

# Sencha 
build/
ext/
packages/remote/
classic.json
classic.jsonp
modern.json
sass/example/example.css
sass/example/bootstrap.json
sass/example/bootstrap.jsonp
sass/example/bootstrap.js
bootstrap.js
bootstrap.css
index.html

# Libs
lib/

# Coverage
.instrumented/
test/.index_coverage.html
coverage/
