.trans-en {
    background-image: url(../../../../resources/img/gb.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.trans-de {
    background-image: url(../../../../resources/img/de.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.trans-mn {
    background-image: url(../../../../resources/img/mn.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.translation-btn {
    margin: 5px;
    padding: 5px;
}
