.default-trigger {
    display: none;
}

.multisearch-refresh-trigger:before {
    content: '\f021';
}

.multisearch-settings-trigger:before {
    content: '\f013';
}

.x-form-trigger.default-trigger.default-trigger-default.x-tool-collapse-top {
    font: 16px/30px FontAwesome;
    width: 32px;
    background: #fff;
    color: #919191;
}
