.momo-header-right-container {
    left: auto !important;
    right: 0 !important;
    width: 300px !important;
}

.momo-header-right-container > .x-box-inner {
    width: 300px !important;
}

.momo-viewport-header-body{
    background-color: $main-light-color;
}

.x-splitter-focus:after, .x-grid-item-focused .x-grid-cell-inner:before {
    border: none;
}

.x-grid .x-grid-item.x-grid-item-selected {
    background-color: lighten($main-light-color, 25%);
}
