.momo-showmetapanel-button {
    top: 20.5em;
    left: .5em;
    width: 26.375px;
    height: 26.375px;
    border-radius: 5px;
}

.x-btn-glyph.momo-showmetapanel-button-icon {
    font-size: 100%;
    padding-bottom: 4px;
    display: block;
    height: 20px;
}

.x-panel-body-default .metainfos-panel {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}
